@import 'linkcolors.css';

body {
	margin: 20px auto;
	max-width: 900px;
}

p {
	text-align: justify;
}

h1 {
	border-bottom: 1px black solid;
}

/* slightly thinner hr lines to match h1 */
hr {
	border-top: 0;
	border-bottom: 1px black solid;
}

iframe, video, img {
	max-width: 66.67%;
}

table td {
	padding-right: 1em;
}

code, pre {
	background-color: lightgray;
	border-radius: 2px;
}

pre {
	padding: 1em;
}
