@import 'linkcolors.css';

@media only screen and (orientation: landscape) {
	body {
		margin-left: 20vw;
		margin-right: 20vw;
	}
}

p {
	text-align: justify;
}

h1 {
	border-bottom: 1px black solid;
}

table td {
	padding-right: 1em;
}
