@import 'linkcolors.css';

@media only screen and (orientation: landscape) {
	body {
		border-left: 20vw solid;
		border-right: 20vw solid;
		/*border-image: -moz-linear-gradient( to bottom right, #77F, #7FF ) 1;*/
		border-image: linear-gradient( to bottom right, #F73, #FFA ) 1;

		padding: 1em;
		margin: 0;

		box-sizing: border-box;
		min-height: 100vh;
	}

	div#sect {
		column-count: 2;
	}

	div#sect > div {
		display: inline-block;
		width: 100%;
	}
}

h1 {
	text-align: center;
	text-decoration: underline;
}

p, li, a {
	font-family: sans-serif;
}

ul {
	list-style-type: square;
}
