h1 {
	text-align: center;
	text-decoration: underline;
}

.social a{
	display: inline-block;
	margin-right: 1em;
}

.social i {
	font-size: 4em;
}

@media screen and ( min-width: 1280px ) {
	body {
		border-left: 20vw solid;
		border-right: 20vw solid;
		border-image: -moz-linear-gradient( to bottom right, #77F, #7FF ) 1;
		border-image: linear-gradient( to bottom right, #77F, #7FF ) 1;

		padding: 1em;
		margin: 0;
	}

	div#sections {
		column-count: 2;
	}

	div#sections > div {
		display: inline-block;
		width: 100%;
	}

	.social i {
		font-size: 2em;
	}
}
