@import '../document.css';

@media only print {
	* {
		font-size: 10pt;
	}

	hr {
	    border: 0;
	}
}

p {
	margin: 0.2em 0 0.2em 0;
}

.Experience {
	column-count: 2;
	column-width: 300px;
}

.Experience ul {
	display: inline-block;
}
